html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Inter", sans-serif;
  font-size: 21px;
  color: #000;
  line-height: 27px;
  font-weight: 400;
  background: #fff;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 70px;
}
h1 strong {
  font-weight: 700;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 45px;
  line-height: 70px;
}
h2 strong {
  font-weight: 900;
  font-size: 60px;
}

h3 {
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
}
h3.sm {
  font-size: 45px;
}

h4 {
  font-weight: 300;
  font-size: 35px;
  line-height: 35px;
}

main {
  overflow: hidden;
  margin-top: 88px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}
.button.primary {
  padding: 9px 25px;
  background-color: #ECECEC;
  color: #333;
  border: 1px solid #ECECEC;
}
.button.secondary {
  padding: 9px 28px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #333;
}
.header .auto__container {
  max-width: 1140px;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.header__inner {
  padding: 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}
.header__inner-logo img {
  width: 100%;
}
.header__inner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-buttons .button {
  margin-right: 16px;
}
.header__inner-buttons .button:last-of-type {
  margin-right: 36px;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav {
  position: fixed;
  top: 88px;
  left: 0;
  width: 100%;
  height: calc(100% - 88px);
  z-index: 9;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.nav.active {
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  right: 0;
  width: 320px;
  z-index: 1;
  padding: 50px 20px 20px 20px;
  height: 100%;
  overflow-y: auto;
  background: #333;
}
.nav__inner .header__inner-buttons {
  display: none;
}
.nav__inner li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
.nav__inner li a {
  padding: 10px 15px;
}

.burger {
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  position: relative;
  width: 22px;
  height: 24px;
}
.burger:hover {
  opacity: 0.8;
}
.burger::before {
  top: 10%;
  width: 100%;
  height: 2.5px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.burger span {
  top: 50%;
  width: 100%;
  height: 2.5px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-ransform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.burger::after {
  bottom: 10%;
  width: 100%;
  height: 2.5px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.burger.active::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger.active span {
  opacity: 0;
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
  transform: translate(-50%, 50%) rotate(-45deg);
}

body.active {
  overflow: hidden;
}

.hero {
  background: #1B0045;
  padding: 100px 0;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: relative;
}
.hero__inner-content {
  width: calc(50% - 25px);
}
.hero__inner-content > p {
  color: #AAAAAA;
  margin-bottom: 40px;
}
.hero__inner-content-link {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #AAAAAA;
  position: relative;
}
.hero__inner-content-link::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #AAAAAA;
}
.hero__inner-image {
  position: absolute;
  top: 50%;
  right: 0;
  width: calc(50% - 25px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.hero__inner-image img {
  width: 100%;
}
.hero__inner h1 {
  color: #fff;
  margin-bottom: 20px;
}
.hero__inner h4 {
  margin-bottom: 40px;
}
.hero__inner .button {
  margin: 0 11px 13px 0;
}
.hero__inner .button.primary {
  background-color: #EDDD65;
  border-color: #EDDD65;
  color: #000;
  width: calc(68% - 11px);
}
.hero__inner .button.secondary {
  border-color: #EDDD65;
  color: #EDDD65;
  width: 32%;
  margin-right: 0;
}
.hero__inner .button__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 430px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #212529;
  text-align: center;
}
.intro.second .intro__dark {
  padding-bottom: 25px;
}
.intro.second .intro__dark-inner {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}
.intro.second .intro__dark .intro__image {
  max-width: 310px;
  width: 60%;
}
.intro.second .intro__light {
  padding-bottom: 0;
}
.intro.second .intro__light-inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro.second .intro__light .intro__image {
  max-width: 320px;
  width: 65%;
}
.intro__dark {
  width: 50%;
  background-color: #B995F1;
  padding: 90px 30px 0;
}
.intro__dark-inner {
  max-width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.intro__light {
  width: 50%;
  background-color: #EDDD65;
  padding: 90px 30px 25px;
}
.intro__light-inner {
  max-width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.intro__light .intro__image {
  max-width: 394px;
}
.intro__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 350px;
  width: 80%;
}
.intro__image img {
  width: 100%;
}
.intro h3 {
  margin-bottom: 40px;
}
.intro p {
  margin-bottom: 25px;
}
.intro p.qr {
  display: none;
}

@media (max-width: 1180px) {
  .auto__container {
    padding: 0 30px;
  }
  h1 {
    font-size: 40px;
    line-height: 65px;
  }
  h1 strong {
    font-size: 45px;
  }
  h2 {
    font-size: 40px;
    line-height: 65px;
  }
  h2 strong {
    font-size: 55px;
  }
  h3 {
    font-size: 43px;
    line-height: 53px;
  }
  h3.sm {
    font-size: 40px;
  }
  h4 {
    font-size: 30px;
    line-height: 30px;
  }
  .hero {
    padding: 8% 0;
  }
}
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
  h1 {
    font-size: 35px;
    line-height: 50px;
  }
  h1 strong {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
    line-height: 60px;
  }
  h2 strong {
    font-size: 50px;
  }
  h3 {
    font-size: 38px;
    line-height: 45px;
  }
  h3.sm {
    font-size: 35px;
  }
  h4 {
    font-size: 25px;
    line-height: 25px;
  }
  p {
    font-size: 18px;
    line-height: 23px;
  }
  .hero {
    padding: 10% 0;
  }
  .hero__inner-content {
    width: calc(55% - 12px);
  }
  .hero__inner-content-link {
    font-size: 14px;
    line-height: 16px;
  }
  .hero__inner-image {
    width: calc(45% - 12px);
  }
  .hero__inner-image img {
    width: 116%;
  }
  .hero__inner .button__row {
    max-width: 370px;
  }
  .hero__inner h1 {
    margin-bottom: 15px;
  }
  .hero__inner h4 {
    margin-bottom: 25px;
  }
  .hero__inner p {
    margin-bottom: 25px;
  }
  .hero__inner .button {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 10px;
  }
  .hero__inner .button.primary {
    padding: 9px 18px;
  }
  .hero__inner .button.secondary {
    padding: 9px 22px;
  }
  .header__inner-buttons .button {
    margin-right: 10px;
    font-size: 13px;
    line-height: 15px;
  }
  .header__inner-buttons .button.primary {
    padding: 9px 20px;
  }
  .header__inner-buttons .button.secondary {
    padding: 9px 22px;
  }
  .header__inner-buttons .button:last-of-type {
    margin-right: 20px;
  }
}
@media (max-width: 930px) {
  h1 {
    font-size: 30px;
    line-height: 43px;
  }
  h1 strong {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
    line-height: 50px;
  }
  h2 strong {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
    line-height: 40px;
  }
  h3.sm {
    font-size: 28px;
  }
  h4 {
    font-size: 22px;
    line-height: 22px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
  .intro.second .intro__dark {
    padding-bottom: 15px;
  }
  .intro__dark {
    padding: 70px 30px 0;
  }
  .intro__light {
    padding: 70px 30px 15px;
  }
  .intro h3 {
    margin-bottom: 25px;
  }
  .intro p {
    margin-bottom: 15px;
  }
}
@media (max-width: 750px) {
  h1 {
    font-size: 25px;
    line-height: 34px;
  }
  h1 strong {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
    line-height: 40px;
  }
  h2 strong {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
    line-height: 34px;
  }
  h3.sm {
    font-size: 23px;
  }
  h4 {
    font-size: 18px;
    line-height: 18px;
  }
  p {
    font-size: 14px;
    line-height: 17px;
  }
  .hero__inner-content-link {
    font-size: 12px;
    line-height: 14px;
  }
  .hero__inner .button__row {
    max-width: 295px;
  }
  .hero__inner h1 {
    margin-bottom: 10px;
  }
  .hero__inner h4 {
    margin-bottom: 15px;
  }
  .hero__inner p {
    margin-bottom: 15px;
  }
  .hero__inner .button {
    font-size: 11px;
    line-height: 13px;
  }
  .hero__inner .button.primary {
    padding: 7px 10px;
  }
  .hero__inner .button.secondary {
    padding: 7px 14px;
  }
}
@media (max-width: 650px) {
  .auto__container {
    padding: 0 20px;
  }
  main {
    margin-top: 83.4px;
  }
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  h1 strong {
    font-size: 38px;
  }
  h2 {
    font-size: 25px;
    line-height: 40px;
  }
  h2 strong {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
    line-height: 28px;
  }
  h3.sm {
    font-size: 20px;
  }
  h4 {
    font-size: 30px;
    line-height: 30px;
  }
  p {
    font-size: 21px;
    line-height: 27px;
  }
  .header__inner {
    padding: 6px 0;
  }
  .header__inner-logo {
    width: 85px;
  }
  .header__inner-buttons .button {
    display: none;
  }
  .nav {
    top: 83.4px;
    height: calc(100% - 83.4px);
  }
  .nav__inner .header__inner-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  .nav__inner .header__inner-buttons .button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 15px;
    line-height: 17px;
  }
  .nav__inner .header__inner-buttons .button:last-of-type {
    margin: 0;
  }
  .hero {
    padding: 60px 0;
  }
  .hero__inner {
    text-align: center;
  }
  .hero__inner-content {
    width: 100%;
  }
  .hero__inner-content-link {
    font-size: 20px;
    line-height: 22px;
    text-decoration: underline;
  }
  .hero__inner-content-link::before {
    display: none;
  }
  .hero__inner-image {
    width: 100%;
    position: unset;
    -webkit-transform: unset;
            transform: unset;
    max-width: 400px;
    margin: 0 auto 20px;
  }
  .hero__inner-image img {
    width: 100%;
  }
  .hero__inner h1 {
    margin-bottom: 36px;
  }
  .hero__inner h4 {
    margin-bottom: 30px;
  }
  .hero__inner p {
    margin-bottom: 24px;
  }
  .hero__inner .button {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .hero__inner .button__row {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
  }
  .hero__inner .button.primary {
    padding: 17px 25px;
  }
  .hero__inner .button.secondary {
    padding: 17px 25px;
  }
  .intro.second .intro__dark .intro__image {
    margin-top: 20px;
  }
  .intro__dark {
    padding: 45px 20px 0;
  }
  .intro__light {
    padding: 45px 20px 15px;
  }
  .intro h3 {
    margin-bottom: 15px;
  }
  .intro p {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 540px) {
  h3 {
    font-size: 48px;
    line-height: 57px;
  }
  h3.sm {
    font-size: 45px;
  }
  .hero__inner-content-link {
    max-width: 224px;
  }
  .hero__inner .button {
    margin-bottom: 25px;
  }
  .hero__inner .button__row {
    max-width: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__inner .button.primary {
    margin-bottom: 30px;
    width: 100%;
    max-width: 280px;
  }
  .hero__inner .button.secondary {
    width: 100%;
    max-width: 135px;
  }
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro.second .intro__dark {
    background-color: #EDDD65;
    padding: 45px 20px 15px;
  }
  .intro.second .intro__dark .intro__image {
    max-width: 250px;
    width: 100%;
  }
  .intro.second .intro__light {
    background-color: #B995F1;
  }
  .intro.second .intro__light .intro__image {
    max-width: 320px;
    width: 100%;
  }
  .intro__dark {
    width: 100%;
    padding: 90px 20px 0;
  }
  .intro__light {
    width: 100%;
    padding: 45px 20px 15px;
  }
  .intro__light .intro__image {
    max-width: unset;
  }
  .intro__image {
    width: 100%;
    max-width: unset;
  }
  .intro h3 {
    margin-bottom: 45px;
  }
  .intro p {
    margin-bottom: 15px;
    font-size: 21px;
    line-height: 27px;
  }
  .intro p.qr {
    display: block;
    font-size: 15px;
    line-height: 27px;
    margin-top: 10px;
    max-width: unset;
  }
}
@media (max-width: 440px) {
  main {
    margin-top: 68.8px;
  }
  .header__inner {
    padding: 5px 0;
  }
  .header__inner-logo {
    width: 70px;
  }
  .nav {
    top: 68.8px;
    height: calc(100% - 68.8px);
  }
  .intro.second .intro__dark .intro__image {
    margin: 0;
  }
  .intro.second .intro__dark h3 {
    margin-bottom: 20px;
  }
  .intro__light h3 {
    margin-bottom: 20px;
  }
  .intro__light .intro__image img {
    width: 110%;
  }
  .intro p {
    max-width: 270px;
  }
}
@media (max-width: 390px) {
  .auto__container {
    padding: 0 16px;
  }
  h1 {
    font-size: 25px;
    line-height: 35px;
  }
  h1 strong {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
    line-height: 25px;
  }
  p {
    font-size: 17px;
    line-height: 25px;
  }
}