// colors
$primary: #1B0045;
$primary2: #212529;
$main : #EDDD65;
$black: #000;
$black2: #333;
$white: #fff;
$pink : #B995F1;
$gray:#AAAAAA;
$gray2:#EBF1F5;
// fonts
$inter: 'Inter', sans-serif;
$lato: 'Lato', sans-serif;


