h1 {
    font-weight: 500;
    font-size: 45px;
    line-height: 70px;

    strong {
        font-weight: 700;
        font-size: 50px;
    }
}

h2 {
    font-weight: 300;
    font-size: 45px;
    line-height: 70px;

    strong {
        font-weight: 900;
        font-size: 60px;
    }
}

h3 {
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;

    &.sm {
        font-size: 45px;
    }
}

h4 {
    font-weight: 300;
    font-size: 35px;
    line-height: 35px;
}

h6 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}



main {
    overflow: hidden;
    margin-top: 87.93px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    transition: .3s ease;
    &.primary {
        padding: 9px 25px;
        background-color: #ECECEC;
        color: $black2;
        border: 1px solid #ECECEC;
    }
    &.secondary {
        padding: 9px 28px;
        background-color: transparent;
        color: $white;
        border: 1px solid $white;

    }
}