.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $black2;
  .auto__container {
    max-width: 1140px;
  }
  &.sticky  {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   animation-name: sticky;
   animation-duration: .4s;
  }
  &__inner {
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      img {
        width: 100%;
      }
    }
    &-buttons {
      display: flex;
      align-items: center;
      .button {
        margin-right: 16px;
        &:last-of-type {
          margin-right: 36px;
        }
      }
    }
  }
}
// 1024px
@mixin header-lg-xlg {
    .header {
      &__inner {
        &-buttons {
          .button {
            margin-right: 10px;
            font-size: 13px;
            line-height: 15px;
            &.primary {
              padding: 9px 20px;
            }
            &.secondary {
              padding: 9px 22px;
            }
            &:last-of-type {
              margin-right: 20px;
            }
          }
        }
      }
    }
}
// 650px
@mixin header-sm-md-extra {
  .header {
    &__inner {
      padding: 6px 0;
      &-logo {
        width: 85px;
      }
      &-buttons {
        .button {
          display: none;
        }
      }
    }

  }
}
// 440px
@mixin header-xxsm-xsm {
    .header {
      &__inner {
        padding: 5px 0;
        &-logo {
          width: 70px;
        }
      }

    }
}
@keyframes sticky {
    0% {
      top: -60px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }